POSTGRES_DB=stock_analyzer
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

FRONTEND_PORT=4200
BACKEND_PORT=8080
ML_SERVICE_PORT=8000
ML_PREDICTION_TIMEOUT_SECONDS=600

ASPNETCORE_ENVIRONMENT=Development
FRONTEND_URL=http://localhost:4200
ML_LOG_LEVEL=INFO
