ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
FrontendUrl=http://localhost:4200
MlServiceUrl=http://localhost:8000
ConnectionStrings__Postgres=Host=localhost;Port=5433;Database=stock_analyzer;Username=stock_user;Password=stock_password
